*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: hsl(0, 0%, 90%);
    --dark-gray: hsl(360 0% 9%);
    --light-gray: hsl(360 0% 40%);
    --dark-pink: hsl(327 86.8% 27.7%);
    --bright-pink: hsl(337 100% 61.8%);
    --light-pink: hsla(337, 37%, 66%, 0.89);
    --body-bg-light: url(../images/bg_white_marble.jpg);
    --body-bg-dark: url(../images/bg_night-sky.jpg);
}

/* Fonts */
.roboto-condensed-regular {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.dark {
    color: #bbb;
    background-image: var(--body-bg-dark);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

html {
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    height: 100%;
    width: 100%;
}

body {
    background-image: var(--body-bg-light);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    text-align: center;
    color: var(--light-gray);
}


/* navigation bar */
#nav-section {
    width: 100vw;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background:
        rgba(53, 52, 52, 0.7);
}

#navbar a:link {
    text-decoration: none;
    color: var(--white);
    font-size: 1.3rem;
    padding: 0.6rem;
    display: inline-block;
}

#navbar a:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
    color: var(--bright-pink);
}

#navbar a:active {
    transform: scale(0.7);
}

#navbar a:visited {
    color: var(--light-pink);
}


/* dark-mode button */
#toggle-btn {
    width: 60px;
    height: 30px;
    background-color: var(--dark-gray);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

#toggle-btn::before {
    content: '';
    width: 22px;
    height: 22px;
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: transform 0.3s;
}

#toggle-btn.dark::before {
    transform: translateX(30px);
}


/* main section */
#welcome-section {
    height: 100vh;
    font-size: 2.5rem;
}

h1 {
    padding: 10px;
    color: var(--light-gray);
}

#titles {
    color: var(--dark-pink);
    font-size: 2rem;
}

#titles a {
    padding: 60px 10px;
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--light-gray);
    display: inline-block;
    transition: transform 0.2s, padding 0.2s;
}

.dark #titles a, .dark h1 {
    color: var(--white);
}

#titles a:hover{
    transform: scale(1.2);
    padding: 0 30px;
}

/* Tooltip styles */
#titles a.show-tooltip::after {
    display: inline-block;
}

#titles a::after {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translateX(-50%) translateY(-5px);
    background-color: var(--dark-pink);
    color: var(--white);
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 0.8rem;
    box-shadow: 0 2px 5px var(--dark-gray);
    white-space: nowrap;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* UGLY IMAGE */
#media-container {
    width: 95%;
    height: 60vh;
    margin: 0 auto;
}

#media-container img {
    position: relative;
    z-index: -1;
    opacity: 0.4;
    height: 100%;
    width: 100%;
}

/* Skyrim Snipped Video */
.skyrim-project {
    position: absolute;
    top: 450px;
    left: 80px;
    height: 500px;
    border-radius: 20px;
    transform: rotate(-5deg);
    z-index: 1;
    transition: transform 0.3s ease, z-index 0s linear 0.3s; 
}

.playing {
    z-index: 9;
    transform: rotate(0);
    transition: transform 0.3s ease, z-index 0s;
}

/* Fallout Snipped Video */
.fallout-project {
    position: absolute;
    top: 600px;
    left: 700px;
    height: 600px;
    border-radius: 20px;
    transform: rotate(+5deg);
    z-index: 1;
    transition: transform 0.3s ease, z-index 0s linear 0.3s; 
}

.playing {
    z-index: 9;
    transform: rotate(0);
    transition: transform 0.3s ease, z-index 0s;
}

/* About me section */
#aboutme-section {
    color: var(--light-gray);
    text-shadow: 1px 1px var(--dark-gray);
    margin-bottom: 150px;
    height: auto;
    width: 80vw;
    margin: 0 auto;
}

#aboutme-section h2 {
    font-size: 2rem;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px dashed var(--light-gray);
    padding-top: 100px;
}

#aboutme-section p {
    font-size: 1.8rem;
    padding: 2rem;
    padding-top: 3rem;
    text-align: justify;
    line-height: 3rem;
    word-spacing: 0.4rem;
    width: 80%;
    margin: 0 auto;
}

#aboutme-section p:last-of-type {
    margin-bottom: 100px; /* Add margin to the last paragraph */
}

#aboutme-section.dark {
    color: var(--white);
    text-shadow: 1px 1px var(--light-gray);
}

/* Footer */
footer {
    width: 50%;
    max-width: 600px;
    height: 8%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

footer h2 {
    padding: 10px;
    text-align: center;
}

footer div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


#social-media-links a:hover {
    transform: scale(1.2);
}

/* SMARTPHONE */
@media (max-width: 768px) {
    html {
        font-size: 13px;
    }

    #nav-section {
        padding: 10px 20px;
        height: 70px;
    }

    #navbar a:link, #navbar a:visited {
        font-size: 1rem;
        padding: 0.4rem;
    }

    body {
        padding-top: 100px;
    }

    #titles {
        visibility: hidden;
        padding-top: 20px;
    }

    #titles a {
        visibility: visible;
        display: block;
        padding: 0;
    }

    #media-container img {
        display: none;
    }

    .skyrim-project {
        position: static;
        width: 90%;
        max-width: none;
        height: auto;
        margin: 0 auto;
        margin-top: 2rem;
        top: auto;
        left: auto;
        transform: rotate(0);
    }

    .fallout-project {
        position: static;
        width: 90%;
        max-width: none;
        height: auto;
        margin: 2rem auto;
        top: auto;
        left: auto;
        transform: rotate(0);
        clear: both;
    }

    #aboutme-section {
        width: 100vw;
    }

    #aboutme-section h2 {
        /* padding-top: 1rem; */
        font-size: 1.5rem;
    }

    #aboutme-section p {
        font-size: 1.3rem;
    }

    #aboutme-section img {
        width: 80%;
    }

    footer {
        width: 90%;
        font-size: 0.7rem;
    }

}